 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hola, soy Omar El Taha. Tecnico superior en desarrollo de aplicaciones web. Me dedico a desarrollar en tecnologias web como Jquery, Vue.js, Vuetify, Vue Router, Bootstrap Vue, API REST, Axios, etc.  </p>
                </div>
                <div class="col-lg-4">
                    <p>Siempre tengo las ganas y la motivacion de seguir aprendiendo y enfrentarme a todo aquello que no se hacer.  
                        Me considero una persona autodidacta y trabajadora que disfruta ver los proyectos hacerse realidad.  </p>
                </div>
               
            </div>
        </div>
    </section>
